@font-face {
    font-family: 'Archivo';
    src: 
url('/fonts/Archivo-Regular.ttf') 
format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Archivo', sans-serif;
}

.search-form {
    margin-top: 50px; 
  }
  
